<ion-grid class="game-table">
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="0" initial="{{gameGrid[0]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="1" initial="{{gameGrid[1]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="2" initial="{{gameGrid[2]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="3" initial="{{gameGrid[3]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="4" initial="{{gameGrid[4]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="5" initial="{{gameGrid[5]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="6" initial="{{gameGrid[6]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="7" initial="{{gameGrid[7]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="8" initial="{{gameGrid[8]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="9" initial="{{gameGrid[9]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="10" initial="{{gameGrid[10]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="11" initial="{{gameGrid[11]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="12" initial="{{gameGrid[12]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="13" initial="{{gameGrid[13]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="14" initial="{{gameGrid[14]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="15" initial="{{gameGrid[15]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="16" initial="{{gameGrid[16]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="17" initial="{{gameGrid[17]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="18" initial="{{gameGrid[18]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="19" initial="{{gameGrid[19]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="20" initial="{{gameGrid[20]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="21" initial="{{gameGrid[21]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="22" initial="{{gameGrid[22]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="23" initial="{{gameGrid[23]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="24" initial="{{gameGrid[24]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="25" initial="{{gameGrid[25]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="26" initial="{{gameGrid[26]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="27" initial="{{gameGrid[27]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="28" initial="{{gameGrid[28]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="29" initial="{{gameGrid[29]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="30" initial="{{gameGrid[30]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="31" initial="{{gameGrid[31]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="32" initial="{{gameGrid[32]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="33" initial="{{gameGrid[33]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="34" initial="{{gameGrid[34]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="35" initial="{{gameGrid[35]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="36" initial="{{gameGrid[36]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="37" initial="{{gameGrid[37]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="38" initial="{{gameGrid[38]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="39" initial="{{gameGrid[39]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="40" initial="{{gameGrid[40]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="41" initial="{{gameGrid[41]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="42" initial="{{gameGrid[42]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="43" initial="{{gameGrid[43]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="44" initial="{{gameGrid[44]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="45" initial="{{gameGrid[45]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="46" initial="{{gameGrid[46]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="47" initial="{{gameGrid[47]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="48" initial="{{gameGrid[48]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="49" initial="{{gameGrid[49]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="50" initial="{{gameGrid[50]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="51" initial="{{gameGrid[51]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="52" initial="{{gameGrid[52]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="53" initial="{{gameGrid[53]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="54" initial="{{gameGrid[54]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="55" initial="{{gameGrid[55]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="56" initial="{{gameGrid[56]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="57" initial="{{gameGrid[57]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="58" initial="{{gameGrid[58]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="59" initial="{{gameGrid[59]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="60" initial="{{gameGrid[60]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="61" initial="{{gameGrid[61]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="62" initial="{{gameGrid[62]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="63" initial="{{gameGrid[63]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="64" initial="{{gameGrid[64]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="65" initial="{{gameGrid[65]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="66" initial="{{gameGrid[66]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="67" initial="{{gameGrid[67]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="68" initial="{{gameGrid[68]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="69" initial="{{gameGrid[69]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="70" initial="{{gameGrid[70]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="71" initial="{{gameGrid[71]}}"></gamecell></ion-col>
  </ion-row>
  <ion-row class="game-row">
    <ion-col class="game-cell"><gamecell cellNumber="72" initial="{{gameGrid[72]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="73" initial="{{gameGrid[73]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="74" initial="{{gameGrid[74]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="75" initial="{{gameGrid[75]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="76" initial="{{gameGrid[76]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="77" initial="{{gameGrid[77]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="78" initial="{{gameGrid[78]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="79" initial="{{gameGrid[79]}}"></gamecell></ion-col>
    <ion-col class="game-cell"><gamecell cellNumber="80" initial="{{gameGrid[80]}}"></gamecell></ion-col>
  </ion-row>
</ion-grid>
